<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - HOME
    </title>
    <link rel="shortcut icon" href="/img/logo1.avif" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section id="navbar">
        <div class="container">
            <div class="logos">
                <img src="/img/logo.png" alt="" srcset="">
                <img src="/img/logo2.avif" alt="" srcset="">
                <img src="/img/logo3.png" alt="" srcset="">
            </div>
            <div class="btn-group">
                <a href="#location">
                    <div id="btn" class="color1">LOCAL DO EVENTO</div>
                </a>
                <a href="/auth/signup">
                    <div id="btn" class="color2">INSCREVA-SE GRATUITAMENTE</div>
                </a>
                <a href="#schedule">
                    <div id="btn" class="color3">PROGRAMAÇÃO</div>
                </a>

                <% if (!token) { %>
                    <a href="/auth/signin">
                        <div id="btn" class="color4">Entrar</div>
                    </a>


                    <% } else { %>

                        <a href="/auth/signout">
                            <div id="btn" class="color4">Sair</div>
                        </a>
                        <% } %>
            </div>
        </div>
    </section>

    <section id="info1">
        <div class="container">
            <h2>Transforme o Futuro das Bacias Hidrográficas da Região Norte</h2>

            <h4>Participe do “1º ERCOB NORTE” e colabore com a preservação e o uso sustentável de um dos recursos mais
                essenciais para a vida. No evento, você terá a chance de desenvolver estratégias e ampliar conhecimentos
                que impactarão o desenvolvimento regional e a conservação dos nossos recursos hídricos.</h4>

            <a href="/auth/signup">
                <div class="btn-subscribe">
                    <p>INSCREVA-SE GRATUITAMENTE</p>
                </div>
            </a>
        </div>
    </section>

    <section id="remain-time">
        <h1>Tempo Restante</h1>

        <div id="time">
        </div>


        <h3>02 à 04 de Dezembro de 2024</h3>
    </section>

    <section id="targets">
        <h1>Conheça o Propósito do Evento</h1>

        <h3>O estado do Tocantins, por meio da Secretaria de Meio Ambiente e Recursos Hídricos (SEMARH),
            juntamente com os Comitês das Bacias Hidrográficas da Região Norte do país e o Fórum Nacional
            de Comitês de Bacias, sediará o Primeiro Encontro Regional de Comitês de Bacias Hidrográficas da
            Região Norte (ERCOB). O evento destacará a gestão de recursos hídricos na Região Norte do país,
            tendo como objetivo promover o intercâmbio e a troca de experiências entre os estados do Amazonas,
            Pará, Acre, Roraima, Rondônia, Amapá e Tocantins
        </h3>
    </section>

    <section id="schedule">
        <h1>PROGRAMAÇÃO</h1>

        <div class="table">
            <div class="header">
                <div id="item" class="item active">
                    <p>02 / 12</p>
                </div>
                <div id="item" class="item">
                    <p>03 / 12</p>
                </div>
                <div id="item" class="item">
                    <p>04 / 12</p>
                </div>
            </div>
            <div class="body">
                <div id="elements" class="items active">
                    <div id="element" class="item">
                        <div class="side1">
                            <p>08:30 às 09:30</p>
                            <p>Empresa Contratada</p>
                        </div>
                        <div class="side2 active">
                            <h5>Credenciamento</h5>
                            <h6>Retirada da credencial de acesso ao evento</h6>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>09:30 às 10:00</p>
                            <p>Marli Terezinha dos Santos
                            </p>
                        </div>
                        <div class="side2">
                            <h5>Boas-vindas do Presidente do Fórum Nacional dos Comitês de Bacias Hidrográficas e do
                                Secretário de Estado do Meio Ambiente e Recursos Hídricos aos participantes.</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>10:00 às 10:20</p>
                            <p>Apresentação: Marli Terezinha dos Santos</p>
                        </div>
                        <div class="side2">
                            <h5>Mudanças Climáticas</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>10:20 às 10:40</p>
                            <p>Maria Berenice Azevedo</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacia Hidrográfica dos Rios São Miguel e Vale do Guaporé/RO</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>10:40 às 11:00</p>
                            <p>Presidente Jair da Costa Oliveira Filho/p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacia Hidrográfica do Rio Formoso/TO</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>11:00 às 11:20</p>
                            <p>Jeferson Alberto de Lima</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacias Hidrográficas do Rio Alto e Médio Machado/RO</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>11:20 às 11:40</p>
                            <p>Marcelo da Gama Grison</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacia Hidrográfica do Rio Lago de Palmas/TO</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>11:40 às 12:00</p>
                            <p>Glauco Rodrigo Kozerski</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacia Hidrográfica do Rio Jamari/RO</h5>
                        </div>
                    </div>
                    <div class="sep">
                        <p>12:00 às 14:00</p>
                        <p>ALMOÇO</p>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>14:00 às 14:30</p>
                            <p>Luiz Henrique Magalhães Noquelli</p>
                        </div>
                        <div class="side2">
                            <h5>Agenda Azul Gestão de Recursos Hídricos</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>14:30 às 15:00</p>
                            <p>Mateus Chagas do Santos</p>
                        </div>
                        <div class="side2">
                            <h5>SIGAM - Naturatins </h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>15:00 às 15:30</p>
                            <p>IAC/CBHRF/SEMARH</p>
                        </div>
                        <div class="side2">
                            <h5>Gestão de Alto Nível/GAM</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>15:30 às 16:00</p>
                            <p>COGERH/CE</p>
                        </div>
                        <div class="side2">
                            <h5>Outorga /Cobrança pelo uso da água</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>16:00 às 16:30</p>
                            <p>Agência Nacional do Recursos Hídricos e Saneamento Básico - ANA</p>
                        </div>
                        <div class="side2">
                            <h5>Experiências exitosas de Planos de Bacias Hidrográfica Ottobacias </h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>16:30 às 17:30</p>
                            <p style="font-size: .8rem; text-align: left;">João Carlos Farencena – CBHRF (Usuário)
                                Aldo Araújo Azevedo – SEMARH (Poder Público)
                                João Climaco – FONASC (Sociedade Civil)
                            </p>
                        </div>
                        <div class="side2">
                            <h5>Mesa Redonda: Participação da Sociedade Civil, Usuários e Poder Público no Sistema de
                                Gestão de Recursos Hídricos</h5>
                        </div>
                    </div>
                    <div class="sep">
                        <p>19:30 às 21:00</p>

                        <p>ABERTURA OFICIAL</p>
                    </div>

                </div>
                <div id="elements" class="items">
                    <div id="element" class="item">
                        <div class="side1">
                            <p>08:30 às 08:50</p>
                            <p>Vice-presidente Mario de Sena Filho</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacia Hidrográfica do Rio Manuel Alves/TO</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>08:50 às 09:10</p>
                            <p>Presidente Aline dos Santos Betiolo</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacia Hidrográfica dos Rios Branco e Colorado/RO</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>09:10 às 09:30</p>
                            <p>Presidente Mário Roberto Barros Rocha</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacias Hidrográficas dos Rios Lontra e Corda/TO</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>09:30 às 09:50</p>
                            <p>Presidente Edivaldo da Silva Raiol</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê do Marapanim/PA</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>09:50 às 10:10</p>
                            <p>Presidente Maria Cristina Bueno Coelho</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacias Hidrográficas do Rios Santo Antônio e Santa Tereza/TO</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>10:10 às 10:30</p>
                            <p>Presidente Otacílio Silveira Júnior</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê de Bacia Hidrográfica do Rio Palma/TO</h5>
                        </div>
                    </div>
                    <div class="sep">
                        <p>10:30 às 10:50</p>

                        <p>INTERVALO</p>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>10:50 às 11:10</p>
                            <p>Presidente Jadson Maciel</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê da Bacia Hidrográfica do Rio Tarumã-Açu/AM
                                Agenda ODS 6 e 4 Experiências exitosas Gestão de resíduos sólidos com inovação e tecnologia
                                
                            </h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>11:10 às 11:30</p>
                            <p>Presidente Maria Antônia Z. A. Nobre</p>
                        </div>
                        <div class="side2">
                            <h5>Secretaria do Meio Ambiente do Acre</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>11:30 às 11:50</p>
                            <p>Presidente Mariana A. de Lima</p>
                        </div>
                        <div class="side2">
                            <h5>Secretaria de Meio Ambiente de Roraima</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>11:50 às 12:00</p>
                            <p>Presidente Lucas Arantes</p>
                        </div>
                        <div class="side2">
                            <h5>Panorama do Comitê da Bacia Hidrográfica do Rio Araguari/AP</h5>
                        </div>
                    </div>
                    <div class="sep">
                        <p>12:20 às 14:00</p>
                        <p>Alomoço</p>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>14:00 às 16:00</p>
                            <p>Ana Odália</p>
                        </div>
                        <div class="side2">
                            <h5>GT Educação ambiental</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>16:00 às 16:20</p>
                        </div>

                        <div class="side2">
                            <h5>INTERVALO</h5>
                        </div>

                    </div>
                    <div class="sep">
                        <p>16:20 às 17:00</p>
                        <p>Adriana Bocaiuva</p>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>17:00 às 18:00</p>
                        </div>
                        <div class="side2">
                            <h5>Encerramento</h5>
                        </div>
                    </div>
                </div>
                <div id="elements" class="items">
                    <div id="element" class="item">
                        <div class="side1">
                            <p>VISITA I</p>
                            <p>Quantidade de Água</p>
                            <p>7:30 às 12:00</p>
                        </div>
                        <div class="side2">
                            <h5>Usina Hidrelétrica Luiz Eduardo Magalhães</h5>
                            <h5>40 vagas</h5>
                        </div>
                    </div>
                    <div id="element" class="item other">
                        <div class="side1">
                            <p>VISITA II</p>
                            <p>Qualidade da Água</p>
                            <p>7:30 às 12:00</p>
                        </div>
                        <div class="side2">
                            <h5>Estação de Tratamento de Água (ETA 006- BRK Ambiental)</h5>
                            <h5>30 vagas</h5>
                        </div>
                    </div>
                    <div id="element" class="item">
                        <div class="side1">
                            <p>VISITA III</p>
                            <p>Produção de Água</p>
                            <p>7:30 às 12:00</p>
                        </div>
                        <div class="side2">
                            <h5>Centro de Recuperação de Áreas Degradadas
                                (CRAD- Palmas)
                                </h5>
                            <h5>30 vagas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="location">

        <h1>LOCAL DO EVENTO</h1>

        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3926.9507344095623!2d-48.3337835!3d-10.1846564!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9324cb422198e037%3A0x8f0c02dff649b5c8!2sPal%C3%A1cio%20Araguaia%20Governador%20Jos%C3%A9%20Wilson%20Siqueira%20Campos!5e0!3m2!1spt-BR!2smz!4v1730466602346!5m2!1spt-BR!2smz"
            width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <a href="https://www.google.com/maps/place/Pal%C3%A1cio+Araguaia+Governador+Jos%C3%A9+Wilson+Siqueira+Campos/@-10.1846564,-48.3337835,17z/data=!4m6!3m5!1s0x9324cb422198e037:0x8f0c02dff649b5c8!8m2!3d-10.1846317!4d-48.3337364!16s%2Fm%2F0y6k33h?hl=pt-br&entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
            target="_blank">
            <div class="btn">
                <p>VER NO MAPS</p>
            </div>
        </a>

    </section>

    <section id="certification">
        <h1>CERTIFICAÇÃO</h1>

        <h4>Após participar do evento com a carga mínima exigida, acesse a área do certificado e baixe seu documento.
        </h4>

        <div class="btn" onclick="function alert(){alert('Temporariamente Indisponivel')}">
            <p>IMPRIMIR CERTIFICADO</p>
        </div>
    </section>


    <script src="/js/config.js"></script>
    <script src="/js/subscribe.js"></script>


</body>

</html>